<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='battle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="board-container">
        <div id="board">
            {% for cell in coordinates %}
                <button class="cell" id="cell{{ cell }}">{{ cell }}</button>
            {% endfor %}
        </div>
    </div>

    <script>
$(document).ready(function(){
    $('.cell').click(function(){
        var cellId = $(this).attr('id');
        $.post('/fire', {cell: cellId}, function(data){
            if(data.result === 'hit'){
                var imageUrl = '/static/img/reds/Red ' + cellId.replace('cell', '') + '.png';
                $('#' + cellId).addClass('hit').css('background-image', 'url(' + imageUrl + ')');
            } else {
                $('#' + cellId).addClass('miss');
            }
            if(data.result === 'win'){
                alert('You won!');
            }
        }).fail(function(){
            console.log('Error: Request failed');
        });
    });
});

    </script>
</body>
</html>
